/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/* -------Specifications-------- */
@font-face {
  font-family: 'BigJohn';
  font-style: normal;
  font-weight: normal;
  src: local("Big John Regular"), url("../fonts/Big John.woff") format("woff"); }

html {
  scroll-behavior: smooth; }

a, button, input, textarea {
  outline-color: #19bd9a; }

span {
  outline: none; }

::-moz-selection {
  color: #19bd9a;
  background-color: #fff; }

::selection {
  color: #19bd9a;
  background-color: #fff; }

ul {
  padding: 0;
  list-style: none; }

h1 {
  font-size: 20px;
  font-family: "Source Sans Pro", Helvetica;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 40px 0; }

body {
  font-family: "Open Sans", Helvetica;
  color: #81868e;
  font-size: 14px; }

a {
  text-decoration: none; }

p {
  letter-spacing: 1px;
  line-height: 24px; }

input {
  line-height: normal; }

section {
  padding: 40px 0 90px 0; }

.main-container {
  max-width: 1140px;
  padding: 0 15px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.sub-container {
  max-width: 1000px;
  padding: 0 15px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.logo-text {
  text-transform: uppercase;
  color: #000;
  font-size: 25px;
  font-family: "BigJohn", Helvetica;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.main-heading {
  color: #333b46;
  text-align: center; }

.green-text {
  color: #19bd9a;
  font-weight: bold; }

.bold-text {
  font-weight: bold; }

.center-subheading {
  text-align: center; }

.button,
.white-button {
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
  border: 1px solid;
  border-radius: 50px;
  padding: 0 30px;
  line-height: 40px;
  height: 40px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.form-button {
  color: #fff;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  background-color: #19bd9a; }

.white-button {
  color: #fff;
  border-color: #fff; }
  .white-button:hover {
    padding: 0 35px; }

.gray-section {
  background-color: #f3f3f3; }

.sub-heading {
  font-weight: normal;
  font-size: 20px;
  color: #464646; }

/* -------Header-------- */
.header {
  height: 100vh;
  min-height: 600px;
  background-image: url(../images/header-hero.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 15px 0 15px; }

.header__logo {
  color: #fff;
  margin-bottom: -10px; }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__menu-item {
  margin-right: 30px; }
  .header__menu-item:last-child {
    margin-right: 0; }

.header__menu-link {
  font-size: 16px;
  color: #fff; }
  .header__menu-link:hover {
    color: #19bd9a; }

.active-page {
  cursor: pointer;
  padding: 7px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  margin-right: 20px; }
  .active-page:hover {
    border-color: #19bd9a; }
    .active-page:hover .header__menu-link {
      color: #19bd9a; }

.header__hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.header__hero-heading {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 8px;
  margin: 0.67em 0;
  color: #fff; }

.header__hero-text {
  color: #fff;
  font-size: 16px;
  line-height: 30px; }

.header__scroll-button {
  text-align: center;
  padding: 50px 0 90px 0; }

.scroll-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #19bd9a;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear; }
  .scroll-button img {
    width: 12px;
    margin-top: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .scroll-button:hover {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px); }

/* This Is Bouncy */
.this-is-bouncy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 20px; }

.this-is-bouncy__information {
  width: 60%;
  padding-right: 20px; }

.this-is-bouncy__heading {
  color: #333b46; }

.this-is-bouncy__text {
  margin-bottom: 40px; }

.this-is-bouncy__button {
  color: #333b46;
  border-color: #333b46; }
  .this-is-bouncy__button:hover {
    color: #19bd9a;
    border-color: #19bd9a; }

/* About Bouncy */
.about__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px 0; }
  .about__icons .icon-link:nth-child(2) img {
    top: calc(50% - 2px); }
  .about__icons .icon-link {
    margin-right: 30px; }
  .about__icons .icon-link:last-child {
    margin-right: 0px; }

.icon-link {
  width: 55px;
  height: 55px;
  background-color: #81868e;
  border-radius: 50px;
  position: relative;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease; }
  .icon-link:hover {
    background-color: #19bd9a; }
  .icon-link img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.about__information-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.about__content-item:first-child {
  max-width: 330px;
  padding-right: 50px; }

.about__content-item:last-child {
  max-width: 550px; }

.content-item_big {
  font-size: 16px;
  line-height: 28px; }

/* Featured Projects */
.projects {
  padding-bottom: 0; }

.project__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding-top: 60px; }

.project__gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.project__gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2; }

.project__gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }

.project__gallery-item {
  position: relative;
  height: 100%; }
  .project__gallery-item span {
    font-size: 20px;
    font-family: "Source Sans Pro", Helvetica;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .project__gallery-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.project__submit-banner {
  height: 8.69231vw;
  background-image: url(../images/project-banner.jpg);
  background-position: center;
  background-size: cover;
  color: #fff; }
  @media (min-width: 1201px) {
    .project__submit-banner {
      height: 113px; } }
  .project__submit-banner .sub-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.project__text {
  font-size: 1.69231vw; }
  @media (min-width: 1201px) {
    .project__text {
      font-size: 20px; } }

/* Our Services */
.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px; }

.services__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
  max-width: 500px;
  min-width: 100px; }

.services__content-item:first-of-type {
  margin-bottom: 40px; }

.services__text-content .sub-heading {
  margin-bottom: 40px; }

.services__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 45px; }
  .services__icons .icon-link {
    margin-bottom: 20px; }
  .services__icons .icon-link:last-child {
    margin-bottom: 0; }
  .services__icons .icon-link:nth-child(3) img {
    top: calc(50% - 4px); }
  .services__icons .icon-link:nth-child(4) img {
    top: calc(50% - 1px);
    left: calc(50% + 2px); }

.services__graphics-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.graphics-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 40px; }
  .graphics-item:last-child {
    margin-right: 0; }

.graphics-item__circle {
  position: relative;
  margin-bottom: 20px;
  max-width: 124px; }
  .graphics-item__circle img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .graphics-item__circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px; }

/* Impressed ? */
.impressed {
  position: relative;
  background-image: url(../images/impressed-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #b2b3b3;
  padding: 60px 0 100px 0; }

.impressed__heading {
  text-align: left;
  color: #f3f3f3; }

.impressed__text-content {
  max-width: 55%;
  font-size: 16px; }

.impressed__person-name {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 30px 0 10px 0; }

.impressed__person-job {
  display: block;
  text-transform: uppercase; }
  .impressed__person-job span {
    color: #19bd9a; }

.impressed__image {
  position: absolute;
  top: -130px;
  right: 0; }
  .impressed__image .impressed__image-title {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    position: absolute;
    font-size: 30px;
    font-family: "BigJohn", Helvetica; }

.imac-image {
  position: relative; }

/* Portfolio */
.portfolio__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 80px 0; }

.portfolio__menu-item {
  margin-right: 40px; }
  .portfolio__menu-item:last-child {
    margin-right: 0; }

.portfolio__menu-link {
  color: #464646;
  font-size: 16px;
  position: relative;
  padding: 13px 0; }
  .portfolio__menu-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    height: 2px;
    width: 40px;
    background-color: transparent;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease; }
  .portfolio__menu-link:hover:after {
    background-color: #19bd9a; }

.portfolio__active-link:after {
  background-color: #19bd9a; }

.portfolio__gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px 1rem 50px;
  grid-template-rows: repeat(15, 50px);
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem; }

.portfolio__gallery-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(17) {
  -ms-grid-row: 9;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(18) {
  -ms-grid-row: 9;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(19) {
  -ms-grid-row: 9;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(20) {
  -ms-grid-row: 9;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(21) {
  -ms-grid-row: 11;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(22) {
  -ms-grid-row: 11;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(23) {
  -ms-grid-row: 11;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(24) {
  -ms-grid-row: 11;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(25) {
  -ms-grid-row: 13;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(26) {
  -ms-grid-row: 13;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(27) {
  -ms-grid-row: 13;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(28) {
  -ms-grid-row: 13;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(29) {
  -ms-grid-row: 15;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(30) {
  -ms-grid-row: 15;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(31) {
  -ms-grid-row: 15;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(32) {
  -ms-grid-row: 15;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(33) {
  -ms-grid-row: 17;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(34) {
  -ms-grid-row: 17;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(35) {
  -ms-grid-row: 17;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(36) {
  -ms-grid-row: 17;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(37) {
  -ms-grid-row: 19;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(38) {
  -ms-grid-row: 19;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(39) {
  -ms-grid-row: 19;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(40) {
  -ms-grid-row: 19;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(41) {
  -ms-grid-row: 21;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(42) {
  -ms-grid-row: 21;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(43) {
  -ms-grid-row: 21;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(44) {
  -ms-grid-row: 21;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(45) {
  -ms-grid-row: 23;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(46) {
  -ms-grid-row: 23;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(47) {
  -ms-grid-row: 23;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(48) {
  -ms-grid-row: 23;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(49) {
  -ms-grid-row: 25;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(50) {
  -ms-grid-row: 25;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(51) {
  -ms-grid-row: 25;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(52) {
  -ms-grid-row: 25;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(53) {
  -ms-grid-row: 27;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(54) {
  -ms-grid-row: 27;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(55) {
  -ms-grid-row: 27;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(56) {
  -ms-grid-row: 27;
  -ms-grid-column: 7; }

.portfolio__gallery-container > *:nth-child(57) {
  -ms-grid-row: 29;
  -ms-grid-column: 1; }

.portfolio__gallery-container > *:nth-child(58) {
  -ms-grid-row: 29;
  -ms-grid-column: 3; }

.portfolio__gallery-container > *:nth-child(59) {
  -ms-grid-row: 29;
  -ms-grid-column: 5; }

.portfolio__gallery-container > *:nth-child(60) {
  -ms-grid-row: 29;
  -ms-grid-column: 7; }

.portfolio__item {
  margin: 0;
  position: relative;
  cursor: pointer; }
  .portfolio__item img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .portfolio__item:hover .portfolio__information {
    opacity: 1; }

.portfolio__information {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.portfolio__item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  color: #19bd9a;
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Source Sans Pro", Helvetica;
  text-transform: uppercase;
  letter-spacing: 4px; }

.porfolio__item-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.porfolio__item-link {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #000;
  opacity: .8;
  position: relative; }
  .porfolio__item-link:first-child {
    margin-right: 10px; }
  .porfolio__item-link:hover {
    opacity: 1; }
  .porfolio__item-link img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -45%);
    -ms-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%);
    width: 16px;
    height: auto; }

.portfolio__banner {
  background-image: url(../images/portfolio-banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0 70px 0;
  text-align: center;
  margin-top: 40px; }

.portfolio__banner-text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
  padding: 0 20px; }

.cell--1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / 7; }

.cell--2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4; }

.cell--3 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5; }

.cell--4 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / 6; }

.cell--5 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 6;
  grid-row: 7 / 13; }

.cell--6 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4 / 10; }

.cell--7 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 7;
  grid-row: 5 / 12; }

.cell--8 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6 / 10; }

.cell--9 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 13;
  -ms-grid-row-span: 3;
  grid-row: 13 / 16; }

.cell--10 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 10;
  -ms-grid-row-span: 6;
  grid-row: 10 / 16; }

.cell--11 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 12;
  -ms-grid-row-span: 4;
  grid-row: 12 / 16; }

.cell--12 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 10;
  -ms-grid-row-span: 6;
  grid-row: 10 / 16; }

/* The Team */
.horizontal-slider {
  width: 100%;
  padding-bottom: 90px; }

.swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #19bd9a;
  opacity: 1;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease; }

.swiper-pagination-bullet-active {
  background-color: #19bd9a; }

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 60px; }

.member__photo {
  width: 285px;
  height: 364px; }
  .member__photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.member__data {
  text-align: right;
  padding: 30px 45px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.member__general-iformation {
  position: relative;
  margin-bottom: 25px; }
  .member__general-iformation:after {
    content: '';
    position: absolute;
    top: 0;
    right: -45px;
    width: 5px;
    height: 100%;
    background-color: #19bd9a; }

.member__name {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 7px 0; }

.member__job {
  font-family: "Source Sans Pro", Helvetica;
  font-size: 14px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px; }

.member__description {
  letter-spacing: 0.5px;
  margin: 0; }

.member__skill-bar {
  font-family: "Source Sans Pro", Helvetica;
  text-transform: uppercase;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 330px;
  padding: 12px 0;
  margin-bottom: 20px; }
  .member__skill-bar:last-child {
    margin-bottom: 0; }
  .member__skill-bar:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #e1e4e9;
    z-index: 1; }
  .member__skill-bar:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #19bd9a;
    z-index: 2; }

.bar-80:before {
  width: 80%; }

.bar-75:before {
  width: 75%; }

.bar-65:before {
  width: 65%; }

.member__skills {
  margin-top: 30px; }

/* Contact Us banner */
.contact-us-banner {
  background-image: url(../images/contact-us-banner.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0 80px 0; }

.contac-us-banner__title {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: .5px;
  margin-bottom: 50px; }

.contact-us-banner__button:hover {
  color: #19bd9a;
  border-color: #19bd9a; }

/* Testimonials */
.testimonials-cards {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 70px 0 50px 0;
  margin-top: 70px; }

.testimonials__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 100px; }

.testimonials__person-text {
  font-size: 16px;
  letter-spacing: .5px;
  margin-top: 0; }

.testimonials__person-photo {
  width: 130px;
  height: 130px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 70px; }
  .testimonials__person-photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.testimonials__person-name {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #19bd9a;
  text-transform: uppercase;
  margin: 30px 0 8px 0; }

.testimonials__person-job {
  text-transform: uppercase;
  color: #464646; }

/* Latest News */
.latest-news {
  background-image: url(../images/latest-news-bg.jpg);
  background-size: cover;
  background-position: center; }

.vertical-slider {
  max-height: 420px; }

.latest-news__pagination .swiper-pagination-bullet {
  border: 1px solid #fff;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  margin: 10px 0 !important; }

.latest-news__pagination .swiper-pagination-bullet-active {
  background-color: #fff; }

.latest-news__heading {
  text-align: left;
  color: #f3f3f3; }

.latest-news__description {
  color: #b2b3b3; }

.article {
  padding: 70px 0 0 70px; }

.article__title {
  color: #e1e4e9;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px; }

.article__author {
  display: block;
  text-transform: uppercase;
  font-family: "Source Sans Pro", Helvetica;
  font-style: italic;
  letter-spacing: 1.5px;
  margin-bottom: 17px; }

.author-name {
  color: #19bd9a; }

.article__statistics {
  color: #464646; }

.article__content {
  max-width: 600px;
  padding: 35px 50px;
  max-height: 115px;
  overflow: auto; }

.article__content {
  position: relative;
  -ms-overflow-style: none; }
  .article__content::-webkit-scrollbar {
    visibility: hidden; }

.article__expand-link {
  font-size: 16px;
  color: #b2b3b3; }

/* Our Prise */
.our-price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
  padding: 0 20px; }

.price-card {
  position: relative;
  width: 235px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-right: 65px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05); }
  .price-card:last-child {
    margin-right: 0; }
  .price-card:hover {
    -webkit-box-shadow: 0px 1px 100px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 100px 0px rgba(0, 0, 0, 0.05); }
  .price-card:hover .prise__details {
    opacity: 1; }

.price-card__priority {
  height: 65px;
  line-height: 65px;
  color: #fff;
  background-color: #19bd9a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px; }

.price-card__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.price {
  display: block;
  color: #19bd9a;
  font-size: 42px;
  font-family: "Source Sans Pro", Helvetica;
  font-weight: 900;
  margin-bottom: 5px; }

.price-card__period {
  font-size: 20px; }

.prise__features {
  padding-left: 0;
  list-style: none;
  text-align: left;
  padding: 25px 35px 10px 35px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  overflow: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .prise__features li {
    margin-bottom: 18px; }
    .prise__features li:last-child {
      margin-bottom: 0; }
  .prise__features::-webkit-scrollbar {
    width: 5px; }
  .prise__features::-webkit-scrollbar-track {
    background: transparent; }
  .prise__features::-webkit-scrollbar-thumb {
    background: #19bd9a;
    border-radius: 10px; }
  .prise__features::-webkit-scrollbar-thumb:hover {
    background: #555; }

.prise__details {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: opacity .18s ease;
  -o-transition: opacity .18s ease;
  transition: opacity .18s ease; }

.price__submit {
  display: block;
  height: 65px;
  line-height: 65px;
  background-color: #19bd9a; }

.price__submit-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 16px; }
  .price__submit-link:after {
    content: url(../images/arrow-right.png);
    margin-left: 10px; }
  .price__submit-link:hover {
    text-decoration: underline; }

/* Subscribe Us form */
.subscribe-us {
  background-image: url(../images/contact-us.jpg);
  background-size: cover;
  background-position: center;
  text-align: center; }

.subscribe-us__heading {
  color: #fff; }

.subscribe-us__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 60px 0 20px 0; }

.subscribe-us__label {
  margin-right: 10px; }

.subscribe-us__input {
  background: transparent;
  border: 1px solid #81868e;
  color: #cfd3d4;
  padding: 0 20px;
  width: 320px;
  height: 40px; }
  .subscribe-us__input::-webkit-input-placeholder {
    color: #cfd3d4; }
  .subscribe-us__input::-moz-placeholder {
    color: #cfd3d4; }
  .subscribe-us__input:-ms-input-placeholder {
    color: #cfd3d4; }
  .subscribe-us__input::-ms-input-placeholder {
    color: #cfd3d4; }
  .subscribe-us__input::placeholder {
    color: #cfd3d4; }

.subscribe-us__button {
  width: 150px;
  height: 42px; }

/* Contact Us */
.contact-us__ways {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 70px;
  padding: 0 20px; }

.contact-us__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  width: 285px;
  margin-right: 40px; }
  .contact-us__item:last-child {
    margin-right: 0; }
  .contact-us__item:hover {
    -webkit-box-shadow: 0px 1px 100px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 100px 0px rgba(0, 0, 0, 0.05); }

.contact-us__content {
  height: 125px;
  padding: 0 30px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.contact-us__image {
  width: 100%;
  height: 145px; }
  .contact-us__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.contact-us__title {
  font-size: 16px;
  color: #464646;
  margin-bottom: 20px; }

.contact-us__link {
  color: #81868e;
  margin-bottom: 4px; }
  .contact-us__link:last-child {
    margin-bottom: 0; }
  .contact-us__link:hover {
    color: #464646; }

/* Form */
.form-section {
  padding: 85px 0; }

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px; }
  .form__inputs label {
    width: 285px;
    padding-right: 10px; }
    .form__inputs label:last-child {
      padding-right: 0; }

.form__field {
  width: calc(100% - 40px);
  display: block;
  height: 40px;
  padding: 0 20px;
  border: 1px solid #d8dce0; }
  .form__field::-webkit-input-placeholder {
    color: #a9a9a9; }
  .form__field::-moz-placeholder {
    color: #a9a9a9; }
  .form__field:-ms-input-placeholder {
    color: #a9a9a9; }
  .form__field::-ms-input-placeholder {
    color: #a9a9a9; }
  .form__field::placeholder {
    color: #a9a9a9; }

.form__textarea {
  padding: 20px;
  height: 190px;
  width: calc(100% - 40px);
  resize: vertical;
  border: 1px solid #d8dce0;
  margin-bottom: 35px; }

.form__submit {
  width: 100%;
  height: 52px; }

/* Map */
.map {
  height: 496px; }
  .map img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

/* Footer */
.footer {
  padding: 90px 0;
  text-align: center; }

.footer__social-links {
  margin-top: 35px; }

.social-media-link {
  margin-right: 10px; }
  .social-media-link:last-child {
    margin-right: 0; }

/* Media */
@media (max-width: 1200px) {
  .article {
    padding: 20px 0 0 20px; }
  .vertical-slider {
    max-height: 370px; }
  .latest-news__heading,
  .latest-news__description {
    padding-left: 20px; }
  .project__gallery {
    -ms-grid-columns: .5fr .5fr;
    grid-template-columns: .5fr .5fr;
    -ms-grid-rows: 350px 250px;
    grid-template-rows: 350px 250px;
    grid-template-areas: "first first" "second third"; }
    .project__gallery .project__gallery-item:first-child {
      grid-area: first; }
    .project__gallery .project__gallery-item:nth-child(2) {
      grid-area: second; }
    .project__gallery .project__gallery-item:nth-child(3) {
      grid-area: third; }
  .impressed__text-content {
    max-width: 45%; }
  .about__information {
    text-align: center; }
  .about__information-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .about__content-item:first-child {
    padding-right: 0; } }

@media (max-width: 1200px) {
  .project__gallery-item:first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
  .project__gallery-item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
  .project__gallery-item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2; } }

@media (max-width: 1000px) {
  .services__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .services__graphics-content {
    margin-top: 40px; } }

@media (max-width: 870px) {
  .impressed__image {
    display: none; }
  .impressed__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .impressed__text-content {
    max-width: 90%; }
  .contact-us__ways {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .contact-us__item {
    width: 30%;
    margin-right: 0; }
  .contact-us__ways {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact-us__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin-bottom: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact-us__image {
    width: 50%; }
  .contact-us__content {
    width: 50%; } }

@media (max-width: 820px) {
  .price-card {
    width: 180px;
    height: 230px;
    margin-right: 20px; }
  .testimonials__person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .testimonials__person-photo {
    margin-right: 0;
    margin-bottom: 40px; }
  .testimonials__person-text {
    font-size: 14px; }
  .member {
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .member__data {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .member__skills {
    width: 90%;
    padding: 0 20px; }
  .member__skill-bar {
    width: 100%; }
  .member__photo {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  .project__text {
    font-size: 15px;
    padding-right: 40px; }
  .project__submit-banner {
    height: 70px;
    padding: 10px 0; }
  .header__menu {
    display: none; }
  .this-is-bouncy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .this-is-bouncy__image {
    margin-top: 80px; }
  .portfolio__menu {
    display: none; }
  .portfolio__gallery-container {
    margin-top: 70px;
    -ms-grid-columns: 1fr [2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 50px [33];
    grid-template-rows: repeat(33, 50px); }
  .portfolio__gallery-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(11) {
    -ms-grid-row: 6;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(12) {
    -ms-grid-row: 6;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(15) {
    -ms-grid-row: 8;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(16) {
    -ms-grid-row: 8;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(17) {
    -ms-grid-row: 9;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(18) {
    -ms-grid-row: 9;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(19) {
    -ms-grid-row: 10;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(20) {
    -ms-grid-row: 10;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(21) {
    -ms-grid-row: 11;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(22) {
    -ms-grid-row: 11;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(23) {
    -ms-grid-row: 12;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(24) {
    -ms-grid-row: 12;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(25) {
    -ms-grid-row: 13;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(26) {
    -ms-grid-row: 13;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(27) {
    -ms-grid-row: 14;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(28) {
    -ms-grid-row: 14;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(29) {
    -ms-grid-row: 15;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(30) {
    -ms-grid-row: 15;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(31) {
    -ms-grid-row: 16;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(32) {
    -ms-grid-row: 16;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(33) {
    -ms-grid-row: 17;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(34) {
    -ms-grid-row: 17;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(35) {
    -ms-grid-row: 18;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(36) {
    -ms-grid-row: 18;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(37) {
    -ms-grid-row: 19;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(38) {
    -ms-grid-row: 19;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(39) {
    -ms-grid-row: 20;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(40) {
    -ms-grid-row: 20;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(41) {
    -ms-grid-row: 21;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(42) {
    -ms-grid-row: 21;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(43) {
    -ms-grid-row: 22;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(44) {
    -ms-grid-row: 22;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(45) {
    -ms-grid-row: 23;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(46) {
    -ms-grid-row: 23;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(47) {
    -ms-grid-row: 24;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(48) {
    -ms-grid-row: 24;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(49) {
    -ms-grid-row: 25;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(50) {
    -ms-grid-row: 25;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(51) {
    -ms-grid-row: 26;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(52) {
    -ms-grid-row: 26;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(53) {
    -ms-grid-row: 27;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(54) {
    -ms-grid-row: 27;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(55) {
    -ms-grid-row: 28;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(56) {
    -ms-grid-row: 28;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(57) {
    -ms-grid-row: 29;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(58) {
    -ms-grid-row: 29;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(59) {
    -ms-grid-row: 30;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(60) {
    -ms-grid-row: 30;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(61) {
    -ms-grid-row: 31;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(62) {
    -ms-grid-row: 31;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(63) {
    -ms-grid-row: 32;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(64) {
    -ms-grid-row: 32;
    -ms-grid-column: 2; }
  .portfolio__gallery-container > *:nth-child(65) {
    -ms-grid-row: 33;
    -ms-grid-column: 1; }
  .portfolio__gallery-container > *:nth-child(66) {
    -ms-grid-row: 33;
    -ms-grid-column: 2; }
  .cell--1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1 / 6; }
  .cell--2 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    grid-row: 1 / 8; }
  .cell--3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 4;
    grid-row: 6 / 10; }
  .cell--4 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 8;
    -ms-grid-row-span: 6;
    grid-row: 8 / 14; }
  .cell--5 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 10;
    -ms-grid-row-span: 8;
    grid-row: 10 / 18; }
  .cell--6 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 14;
    -ms-grid-row-span: 4;
    grid-row: 14 / 18; }
  .cell--7 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 18;
    -ms-grid-row-span: 6;
    grid-row: 18 / 24; }
  .cell--8 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 18;
    -ms-grid-row-span: 4;
    grid-row: 18 / 22; }
  .cell--9 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 24;
    -ms-grid-row-span: 6;
    grid-row: 24 / 30; }
  .cell--10 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 22;
    -ms-grid-row-span: 7;
    grid-row: 22 / 29; }
  .cell--11 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 30;
    -ms-grid-row-span: 4;
    grid-row: 30 / 34; }
  .cell--12 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 29;
    -ms-grid-row-span: 5;
    grid-row: 29 / 34; } }

@media (max-width: 600px) {
  .testimonials__person {
    padding: 0 20px; }
  .services__graphics-content {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%; }
  .graphics-item {
    margin-right: 0;
    padding: 0 5px; }
  .center-subheading {
    padding: 0 20px; }
  .contact-us__image {
    width: 100px;
    height: 100px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .contact-us__link {
    font-size: 12px; }
  .contact-us__content {
    height: auto; }
  .subscribe-us__label {
    margin: 0;
    width: 70%; }
  .subscribe-us__input {
    width: 75%; }
  .subscribe-us__button {
    -webkit-transform: scaleX(0.9);
    -ms-transform: scaleX(0.9);
    transform: scaleX(0.9);
    margin-right: 10px; }
  .form__inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px; }
    .form__inputs label {
      padding: 0;
      width: 100%;
      margin-bottom: 20px; }
  .our-price__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .price-card {
    margin-right: 0;
    margin-bottom: 60px; }
    .price-card:last-child {
      margin-bottom: 0; } }

@media (max-width: 430px) {
  .subscribe-us__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .subscribe-us__button {
    margin-right: 0;
    margin-top: 30px; }
  .subscribe-us__input {
    width: 80%; }
  .subscribe-us__label {
    width: 90%; }
  .contact-us__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contact-us__content {
    height: 125px; }
  .contact-us__image {
    display: none; }
  .graphics-item__circle span {
    font-size: 17px; }
  .services__content-item {
    font-size: 14px; }
  .services__icons {
    display: none; }
  .project__submit-banner {
    height: auto;
    padding: 10px 0 20px 0; }
  .project__sub-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; } }
